<!-- <hinv-rooms></hinv-rooms> -->

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchCase="'User'">
        <h1>Welcome User</h1>
    </div>
    <div *ngSwitchDefault="">
        <h2>You don't have access..</h2>
    </div>
</div> -->

<!-- <div #content></div>
<ng-template #user></ng-template> -->

<hinv-container>
    <h2>Header for content projection</h2>
    <h2>About sequence from container template</h2>
    <hinv-rooms></hinv-rooms>
    <hinv-employee></hinv-employee>
</hinv-container>